<section id="concept" class="w-full p-8 lg:p-16">
  <div class="flex flex-col lg:flex-row gap-8">
    <!-- Left Column -->
    <div class="lg:w-1/2 relative">
      <div class="bg-vert p-8 rounded-lg flex items-center justify-center">
        {% image "./src/img/food_truck.png", 
          "Food Truck Illustration",
          [448],
          "448px",
          "w-full h-auto max-h-[448px] max-w-[448px]"
        %}
      </div>
    </div>

    <!-- Right Column -->
    <div class="lg:w-1/2 flex flex-col justify-center ">
      <h2 class="text-2xl sm:text-3xl lg:text-4xl font-bowlby text-vertAccent flex items-center justify-center lg:justify-start space-x-2 mb-6">
        <span>🔍</span>
        <span>Concept</span>
      </h2>
      <div class="space-y-4 text-vert text-justify">
        <p>
          Bienvenue chez <span style="color: #C44536; font-weight:bold">313</span>, le food truck qui fait voyager vos papilles jusqu’à Detroit ! Spécialiste de la <span style="color: #C44536; font-weight:bold">Detroit-style pizza</span>, notre concept unique dans la région vous propose une pâte épaisse et croustillante, généreusement garnie, cuite dans des moules rectangulaires comme au cœur du Michigan. Chaque mois, une nouvelle pizza à la carte bouscule les classiques avec des recettes originales, créatives et audacieuses — vous n’en trouverez pas deux comme celle-là !</p>
        <p>
          Né d’un véritable coup de foudre gustatif après avoir goûté cette pizza hors du commun, 313 est avant tout une passion devenue mission : faire découvrir ce style encore méconnu ici. Retrouvez-nous sur nos cinq emplacements réguliers — <span style="color: #C44536; font-weight:bold">Villers-sire-Nicole, Elesmes, Colleret, Ferrière-la-Petite</span> — ou privatisez le food truck pour vos événements : repas d’entreprise, anniversaire ou moment entre amis...
          Une expérience street-food gourmande, conviviale et pleine de caractère vous attend !</p>
      </div>
    </div>
  </div>
</section>