<section id="hero" class="w-full flex flex-col lg:flex-row lg:p-16 relative">
  <!-- Left Column -->
  <div class="lg:w-1/2 flex flex-col items-center lg:items-start justify-center space-y-6 text-center lg:text-left p-4">
    <h1 class="text-5xl leading-[3.5rem] sm:leading-[5rem] sm:text-6xl font-bowlby text-vertAccent">
      Une nouvelle expérience s'invite
    </h1> 
    <button type="button" class="cta font-blackHan text-white bg-orange font-medium rounded-sm text-lg px-5 py-3">
      VOIR LE MENU
    </button>
  </div>

  <!-- Right Column -->
  <div class="lg:w-1/2 flex items-center justify-center relative">
    <!-- Background Div -->
    <div class="absolute bg-vert lg:w-2/3 lg:h-[120%] lg:right-5 lg:top-[-10%] lg:top-0 lg:right-0 w-full h-2/3 bottom-0 "></div>
    <!-- Hero Image -->
    <img src="../../img/pizza_hero.png" alt="Hero Image" class="relative z-10 max-h-full max-w-full object-cover">
  </div>
</section>