---
layout: "layout.njk"
title: "313 Pizza – 404 Page non trouvée"
description: "Oups, cette page n’existe pas ! Retour à l’accueil."
permalink: 404.html
eleventyExcludeFromCollections: true
---

<section class="bg-bgColor text-center flex flex-col items-center justify-center min-h-screen">
  <h1 class="text-5xl font-bowlby text-vertAccent">404</h1>
  <p class="text-xl mb-8">Oups, cette page n’existe pas !</p>
  <a href="/" class="bg-orange text-white px-6 py-3 rounded hover:bg-orange/90 transition">Retour à l’accueil</a>
</section>
