---
layout: layout.njk
title: "313 Pizza – Food Truck Detroit Style | Pizzas Artisanales près de Maubeuge"
description: "313 Pizza, le food truck Detroit Style qui parcourt Maubeuge et ses environs ! Découvrez nos pizzas artisanales. Suivez notre tournée près de Maubeuge et commandez en ligne."
permalink: index.html
eleventyExcludeFromCollections: true
---
{% include "components/hero.njk" %}
{% include "components/top-sell.njk" %}
{% include "components/concept.njk" %}
{% include "components/localisation.njk" %}
